.playerContainer {
   padding: 1rem 4rem;
   width: 22.5rem;
   height: 100vh;

   background-color: var(--purple-500);
   color: var(--white);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
   }

   strong {
      font-family: Lexend, sans-serif;
      font-weight: 600;
   }

   footer {
      align-self: streach;

      &.empty {
         opacity: 0.5;
      }
   }
}

.currentEpisode{
   text-align: center;

   img{
      border-radius: 1.5rem;
   }

   strong{
      display: block;
      margin-top: 1.6rem;
      font: 600 1rem Lexend, sans-serif ;
      line-height: 1rem;
   }

   span{
      display: block;
      font: 600 0.5rem Lexend, sans-serif ;
      color: var(--gray-100);
      margin-top:1rem;
      margin-bottom:1rem;
   }
}

.emptyPlayer {
   width: 100%;
   height: 20rem;
   border: 1.5px dashed var(--purple-300);
   border-radius: 1.5rem;
   background-color: var(--purple-300);

   padding: 4rem;
   text-align: center;

   display: flex;
   align-items: center;
   justify-content: center;
}

.progressBar {
   display: flex;
   align-items: center;
   gap: 1rem;
   font-size: 0.875rem;

   span{
      display:inline-block;
      width:4rem;
      text-align:center
   }
}


.slider{
   flex:1;

   .emptySlider{
      width: 100%;
      height: 4px;
      background: var(--purple-300);
      border-radius:2px
   }
}

.playerControls{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1.5rem;
   margin-top: 2.5rem;

   button{
      background: transparent;
      border: 0;
      font-size: 0;

      &:disabled{
         cursor: not-allowed;
      }


      &.isActive{
         filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
      }

      &.isActive:hover{
         filter: brightness(0.67) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
      }


      &.buttonPlay{
         width: 4rem;
         height: 4rem;
         border-radius: 3rem;
         background: var(--purple-400);
      }
   }

 

}


